#localVideo{
    width: 75%;
    height: 660px;
}

#comments{
    width: 75%;
    border-top: 1px solid rgb(201, 201, 201);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

#sendComment{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#sendComment input{
    margin: 5px 0px 0px 5px;
    width: 80%;
    padding: 5px;
}
#sendComment input:focus{
    outline: none;
}

#sendComment button{
    margin: 5px 5px 0px 0px;
    width: 65px;
}
#sendComment button:hover{
   cursor: pointer;
}
#sendComment button:active{
    transform: translateY(1px);
 }