@media (max-width: 1150px) {
    html #videos{
        grid-template-columns: repeat(3, 300px);
    }
}
@media (max-width: 1017px) {
    html #videos{
        grid-template-columns: repeat(2, 350px);
    }
}

@media (max-width: 805px) {
    html #videos{
        grid-template-columns: repeat(1, 100%);
    }
}

@media (max-width: 850px) {
    html #profile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    html #image{
        margin-top: 30px;
    }
    html #profileInfo{
        margin-left: 0px;
        margin-top: 0px;
    }
    html #edit{
        margin-right: 0px;
        width: 90%;
        justify-content: space-between;
    }
    html #edit > form{
        width: 45%;
    }
    html #edit > form:first-child{
        margin-right: 0px;
    }
}   
@media (max-width: 480px) {
    html #edit{
        flex-direction: column;
        align-items: center;
    }
    html #edit > form{
        width: 80%;
    }
    html #edit > form:last-child{
        margin-top: 20px;
    }
}   

#profile{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
}

#image{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;
    align-items: center;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#name{
    margin-top: 10px;
    font-size: 20px;
}
#name:hover{
    cursor: default;
}

#edit{
    margin-top: 50px;
    margin-right: 50px;
    display: flex;
}

#edit > form:first-child{
    margin-right: 50px;
    position: relative;
}

#changeImage{
    display: flex;
    flex-direction: column;
    font-size: 19px;
}

#changeImage > label{
    margin-bottom: 5px;
}

#submit{
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 30px;
}
#submit:hover{
    cursor: pointer;
}

#uploadVideo{
    display: flex;
    flex-direction: column;
    font-size: 19px;
}
#uploadVideo > label{
    margin-bottom: 5px;
}
#uploadVideo > label:last-child{
    font-size: 14px;
}

#userVideos{
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userVideos > p{
    width: 95%;
    margin-top: 20px;
    font-size: 20px;
}
#userVideos > p:hover{
    cursor: default;
}

#videos{
    width: 95%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
    grid-gap: 10px;
    margin-bottom: 20px;
}