@media (max-width: 1150px) {
    html #localVideo{
        width: 300px;
    }
}
@media (max-width: 1017px) {
    html #localVideo{
        width: 350px;
    }
}

@media (max-width: 805px) {
    html #localVideo{
        width: 100%;
    }
}

#localVideo{
    width: 250px;
}
#video{
    width: 100%;
    height: 120px;
    background-color: rgb(190, 190, 190);
}
#video video{
    width: 100%;
    height: 100%;
}

#video:hover{
    cursor: pointer;
}

#title{
    margin: 5px 0px 0px 5px;
    font-size: 18px;
}
#videoInfo{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 13px;
    margin: 5px 0px 0px 5px;
}
#videoInfo > div:last-child{
    margin-right: 20px;
}
#videoInfo:hover, #title:hover{
    cursor: default;
}